* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #eaedf0;
  overflow: hidden;
}

.page {
  width: 900px;
  margin: 0 auto;
}

.menu {
  height: 100px;
  background-color: #b2d6ff;
}

.sidebar {
  float: left;
  height: 200px;
  width: 300px;
  background-color: #f09a9d;
}

.content {
  padding: 20px;
  background-color: #f5cf8e;
}

.article-image {
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 20px 20px 20px;
}

p {
  margin-bottom: 20px;
}

.footer {
  /* clear: both; */
  min-height: 200px;
  overflow: hidden;
  background-color: #d6e9fe;
}

.footer-item {
  float: left;
  width: 31%;
  margin: 20px 1.16%;
  height: 160px;
  background-color: #b2d6ff;
}

.avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin: 25px;
  border-radius: 30px;
  background-color: #d6e9fe;
}

.username {
  margin-top: 30px;
}

.comment {
  margin: 10px;
  overflow: hidden;
}
